# Logs and runtime files
*.log
storage/logs/
storage/framework/cache/data/
storage/framework/sessions/
storage/framework/testing/
storage/framework/views/
storage/debugbar/

# Environment files
.env
.env.*
!.env.example
.env.backup
.env.production

# Framework caches
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php

# Dependencies
/node_modules/
/vendor/

# Build outputs
/public/build/
/public/hot
/public/storage
temp/

# Editor and tooling directories
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet/
/.idea/
/.nova/
/.phpunit.cache/
/.vscode/
/.zed/
.phpstorm.meta.php
.php-cs-fixer.cache
.phpstan/
.phpunit.cache/
.pint.cache

# Composer auth file
/auth.json

# Keys
/storage/*.key
/storage/pail

# IDE project files
Homestead.json
Homestead.yaml
Thumbs.db
