option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: false

container_commands:
  00_set_permissions:
    command: "chmod -R 775 /var/app/current/storage /var/app/current/bootstrap/cache"
    leader_only: true
  01_storage_link:
    command: "php artisan storage:link || true"
    leader_only: true

